<div id="homepage">
	<h1 id="text" style="margin-left: 45px;"> Art Of Natures Resources</h1>
	<div id="pics" class="slideshow" style ="margin-left: 45px; padding-bottom: 45px;"> 
		<% Furniture.all.each do |f| %>
			<div id="silde">
				<div id="pic" style="float: left;">
					<%= link_to image_tag("#{f.image}") %> 
				<%= f.description %>	
				</div>
			</div>
			
		<% end %>
	</div>
</div>