
	<footer id="footer" class="clearfix" style="margin-top: 200px;">

		<div class="container">

			<div class="three-fourth">

				<nav id="footer-nav" class="clearfix">

					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="elements.html">Features</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="portfolio-4-columns.html">Portfolio</a></li>
						<li><a href="contact-us.html">Contact</a></li>
					</ul>

				</nav><!-- end #footer-nav -->

				<ul class="contact-info">
					<li class="address">454 1/2 N.Stanley Ave. Los Angeles, CA 90036</li>
					<li class="phone">(323) 333-9248</li>
					<li class="email"><a href="mailto:contact@companyname.com">117driftsmith@gmail.com</a></li>
				</ul><!-- end .contact-info -->

			</div><!-- end .three-fourth -->

			<div class="one-fourth last" style="float: right; margin-right: 25px; margin-top: 5px;">

				<span class="title">Stay connected</span>

				<ul class="social-links">
					<li class="twitter"><a href="#">Twitter</a></li>
					<li class="facebook"><a href="#">Facebook</a></li>
					<li class="vimeo"><a href="#">Vimeo</a></li>
					<li class="youtube"><a href="#">YouTube</a></li>
				</ul><!-- end .social-links -->

			</div><!-- end .one-fourth.last -->

		</div><!-- end .container -->

	</footer><!-- end #footer -->

	<footer id="footer-bottom" class="clearfix">

		<div class="container">

			<ul>
				<li>Artofnaturesresources &copy; 2012</li>
				<li><a href="https://www.odesk.com/users/~015fbce4255af90f53">Mikeeyy_3 Designs</a></li>
			</ul>

		</div><!-- end .container -->

	</footer>